<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>flask!</title>
  </head>
  <body>
    <h2>Flask!!! {{taco}}</h2>
  </body>

  <!-- For the mean query: -->
  <select class="target-avg">
    <option value="cause" selected="selected">Cause of Death</option>
    <option value="killer">Killer</option>
    <option value="birth.prv">Birth province</option>
    <option value="dynasty">Dynasty</option>
    <option value="rise">How rise</option>
  </select>
  <button type="button" id="sub1" name="button">QUERY ME</button>

  <div class="res">
  </div>

  <!-- For the variable slicing query: -->
  <div class="drops">
    <select class="target1">
      <option value="cause" selected="selected">Cause of Death</option>
      <option value="killer">Killer</option>
      <option value="birth.prv">Birth province</option>
      <option value="dynasty">Dynasty</option>
      <option value="rise">How rise</option>
    </select>

    <select class="target2">
    </select>

    <select class="target3">
    </select>
    <button type="button" name="button" class="subQuery">QUERY YOU</button>
  </div>

  <!-- jQuery: -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>

  <!-- Javascript: -->
  <script type="text/javascript">
    console.log('what up tho');

    $(document).ready(function() {

      // Load up the second and third selectors:
      var all = ['killer', 'birth.prv', 'dynasty', 'rise'];
      $.get(`/getParticulars?part=cause`)
      .done(function(res) {
        res.split(',').forEach(item => {
          item = item.replace(/[\'\"\{\}\]\[]/g, '');
          item = item.trim();
          item = item.replace(/\s/g, '_');
          $('.target2').append(`<option value=${item}>${item}</option>`);
        });
        all.forEach(item => {
          $('.target3').append(`<option value=${item}>${item}</option>`);
        });
      })
      .catch(function(err) {
        console.log(err);
      });

      // Listen for changes on the first selector:
      $('.target1').change(function() {
        var all = ['cause', 'killer', 'birth.prv', 'dynasty', 'rise'];

        var choice = $('.target1').val();
        // Ok splice doesn't return a new array, just mutates the original one:
        var all_reduced = all.splice(all.indexOf(choice), 1);

        $.get(`/getParticulars?part=${choice}`)
        .done(function(res) {
          // Don't forget to clear out values before appending:
          $('.target2').empty();
          $('.target3').empty();

          res.split(',').forEach(item => {
            item = item.replace(/[\'\"\{\}\]\[]/g, '');
            item = item.trim();
            item_val = item.replace(/\s/g, '_');
            $('.target2').append(`<option value=${item_val}>${item}</option>`);
          });
          // Populate third slicing selector:
          all.forEach(item => {
            $('.target3').append(`<option value=${item}>${item}</option>`);
          });
        })
        .catch(function(err) {
          console.log(err);
        });
      });

      // This should actually be a submit button, not a change listener:
      $('.subQuery').on('click', function() {
        var type_x = $('.target1').val();
        var choice = $('.target2').val();
        var slice = $('.target3').val();
        console.log(type_x, choice, slice);
        $.get(`/query?type=${type_x}&choice=${choice}&slice=${slice}`)
        .done(function(res) {
          // console.log(typeof(res), res);
          // YESSS JSON.parse() is what we needed:
          console.log(JSON.parse(res));
          // console.log(res.split(/\s+/));
          var parsed = JSON.parse(res);


          // Is the idea of finding these comparative averages just a poor man's way of doing correlation? How do the two processes relate to one another?

          // Or maybe, this is fortuitous we wrote things this way, the better idea is to overlay graph of distribution for this particular against whole (e.g. causes of death among Italia-originators vs overall causes of death)
          
          // For each item, e.g. province of origin, in the SLICE, determine how likely someone is to be from that SLICE:
          parsed.index.forEach(item => {
            item = item.replace(/\s/g, '_');

            // The bug was that we were sending type instead of slice:
            $.get(`/likelihood?choice=${item}&type=${slice}`)
            .done(function(res) {
              console.log(item, res);
            })
            .catch(function(err) {
              console.log(err);
            });
          });

        })
        .catch(function(err) {
          console.log(err);
        })
      });

      // Average function:
      $('#sub1').on('click', function() {
        var choice = $('.target-avg').val();

        // Oooh right, the whole point of Ajax is *not* to change the URL...
        $.get('/dataframe?choice=' + choice)
        .done(function(res) {
          console.log(res);
          // Oooooh of course, need to restart the server when we make *any* changes now.
          // $(".res").append(res)
        })
        .catch(function(err) {
          console.log(err);
        });
      });
    });
  </script>

</html>
