<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>flask!</title>
  </head>
  <body>
    <h2>Flask!!! {{taco}}</h2>
  </body>

  <select class="target-avg">
    <option value="cause" selected="selected">Cause of Death</option>
    <option value="killer">Killer</option>
    <option value="birth.prv">Birth province</option>
    <option value="dynasty">Dynasty</option>
    <option value="rise">How rise</option>
  </select>
  <button type="button" id="sub1" name="button">QUERY ME</button>

  <div class="res">

  </div>

  <div class="drops">
    <select class="target1">
      <option value="cause" selected="selected">Cause of Death</option>
      <option value="killer">Killer</option>
      <option value="birth.prv">Birth province</option>
      <option value="dynasty">Dynasty</option>
      <option value="rise">How rise</option>
    </select>

    <select class="target2">

    </select>

    <select class="target3">

    </select>
    <button type="button" name="button" class="subQuery">QUERY YOU</button>
  </div>

  <!-- jQuery: -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script type="text/javascript">
    console.log('what up tho');

    $(document).ready(function() {
      // Load up the second and third selector:
      var all = ['killer', 'birth.prv', 'dynasty', 'rise'];
      $.get(`/getParticulars?part=cause`)
      .done(function(res) {
        res.split(',').forEach(item => {
          item = item.replace(/[\'\"\{\}\]\[]/g, '');
          $('.target2').append(`<option value=${item}>${item}</option>`);
        });
        all.forEach(item => {
          $('.target3').append(`<option value=${item}>${item}</option>`);
        });
      })
      .catch(function(err) {
        console.log(err);
      });

      // Listen for changes on the first selector:
      $('.target1').change(function() {
        var all = ['cause', 'killer', 'birth.prv', 'dynasty', 'rise'];

        console.log($('.target1').val());
        var choice = $('.target1').val();
        // Ok splice doesn't return a new array, just mutates the original one:
        var all_reduced = all.splice(all.indexOf(choice), 1);
        console.log(all_reduced, all);

        $.get(`/getParticulars?part=${choice}`)
        .done(function(res) {
          // console.log(res, typeof(res));
          $('.target2').empty();
          $('.target3').empty();

          // Don't forget to clear out values before appending:
          res.split(',').forEach(item => {
            item = item.replace(/[\'\"\{\}\]\[]/g, '');
            // console.log(item);
            $('.target2').append(`<option value=${item}>${item}</option>`);
          });
          all.forEach(item => {
            $('.target3').append(`<option value=${item}>${item}</option>`);
          });
        })
        .catch(function(err) {
          console.log(err);
        });
      });

      // This should actually be a submit button:
      $('.subQuery').on('click', function() {
        var type = $('.target1').val();
        var choice = $('.target2').val();
        var slice = $('.target3').val();
        console.log(type, choice, slice);
        $.get(`/query?type=${type}&choice=${choice}&slice=${slice}`)
        .done(function(res) {
          console.log(res);
        })
        .catch(function(err) {
          console.log(err);
        })
      });

      // Just testing stuff:
      $('#sub1').on('click', function() {
        // val1 = $('#in1').val();
        // val2 = $('#in2').val();
        // console.log(val1, val2);
        var choice = $('.target-avg').val();

        // Oooh right, the whole point of Ajax is *not* to change the URL...
        $.get('/dataframe?choice=' + choice)
        // $.get('/hi')
        .done(function(res) {
          console.log(res);
          // Oooooh of course, need to restart the server when we make *any* changes now.
          // $(".res").append(res)
        })
        .catch(function(err) {
          console.log(err);
        });
      });
    });
  </script>

</html>
